snippet schema:package.json "schema for package.json"
"$schema": "https://json.schemastore.org/package.json",
endsnippet

snippet schema:graphql-config "schema for .graphqlrc.json"
"$schema": "https://unpkg.com/graphql-config@4.3.0/config-schema.json",
endsnippet


