
# A valid snippet should starts with:
#
#		snippet trigger_word [ "description" [ options ] ]
#
# and end with:
# endsnippet
#
# Snippet options:
#
#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.
#
# Basic example:
#
#		snippet emitter "emitter properties" b
#		private readonly ${1} = new Emitter<$2>()
#		public readonly ${1/^_(.*)/$1/}: Event<$2> = this.$1.event
#		endsnippet
#
# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt
# https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L511
# https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L821

snippet ::home-improvement:: "🏠 home improvement"
🏠 [[home-improvement]]
endsnippet

snippet ::hacking:: "⚡ [[hacking]]"
⚡ [[hacking]]
endsnippet

snippet ::level-up-⏫:: "⏫ [[level-up]]"
⏫ [[level-up]
endsnippet

snippet ::kids:: "👪 [[ongoing/kids]]"
👪 [[ongoing/kids]]
endsnippet

snippet todo
- [ ] 🌑 ${0}
endsnippet

snippet todo:done
- ✅ ${0}
endsnippet

snippet todo:morning
- [ ] 🌅 ${0}
endsnippet

snippet todo:afternoon
- [ ] ☀️ ${0}
endsnippet

snippet todo:evening
- [ ] 🌗 ${0}
endsnippet

snippet memo
**Action Items**:

**Alignment**:

**Discussion**:
endsnippet

snippet agenda
**Agenda**:
${0}
endsnippet

snippet discussion
**Discussion**:
${0}
endsnippet

snippet action:items
**Action Items**:
${0}
endsnippet

snippet meeting:entry
### ${1:date} 

**Agenda**:
${0}
**Action Items**:

**Alignment**:

**Discussion**:

endsnippet

snippet meeting:project
# Mtg: ${1:Meeting Description}

### ${1:date} 
${2}

**Attendees**:
${0}

**Action Items**:

**Alignment**:

**Discussion**:

## Log

## ARCHIVE
endsnippet

snippet project
# ${1:Project Name}

**Tasks**:
${0}
**Links**:

## ARCHIVE

endsnippet

snippet daily:log
### ${1:day}

**Ticklers**:
${0}

#### Links

🗒️ [[todo]]
🏋️ [[exercise]]
💰 [[purchase]]

⏫ [[level-up]]
⚡ [[hacking]]
🍰 [[kitchen]]
👪 [[ongoing/kids]]
🏠 [[home-improvement]]
❤️ [[health]]
☎️ [[ongoing/people]]

[[ref/index]]

#### Notes

endsnippet

snippet daily:tasks "daily checklist @ 💻"
**daily**:
- [ ]${0} calendar
- [ ] chat (telegram dms)
- [ ] email
- [ ] weekly:tasks if friday
- [[todo]]
endsnippet

snippet weekly:tasks "weekly checklist @ 💻"
**weekly**:
- [ ] ${0}drain intake
- [ ] review phone intake/reading tab
- [ ] tidy up ongoing/
- [ ] tidy up projects/
- [ ] tidy up [[todo]]
- [ ] physical intake (kitchen basket mail, computer room box)
- [ ] monthly:tasks:1 if 2nd Friday
- [ ] monthly:tasks:2 if 3nd Friday
endsnippet

snippet monthly:tasks:1 "monthly (primary) checklist @ 💻"
**weekly**:
- [ ] ${0}expense receipts (phone, internet)
- [ ] savings snapshot
- [ ] tidy up someday/
endsnippet

snippet monthly:tasks:2 "monthly (alternate) checklist @ 💻"
**weekly**:
- [ ] review [GitHub notifications](https://github.com/notifications)
- [ ] drain [GitHub saved notifications](https://github.com/notifications?query=is%3Asaved)
endsnippet

snippet feedback
💥 _BLUF (bottom line up front)_
${0}

_additional notes_

🛠️ _work capacity_

🗝 _key strengths_

📈 _growth opportunities_

📚 _references_
endsnippet

snippet quarter
# Summary cy${1:22q1}

**Tasks**:

# Goals

## Occasions

${2:TODO}


## Budget

# Log

## Week 14 ()

## Week 13 ()

## Week 12 ()

## Week 11 ()

## Week 10 ()

## Week 9 ()

## Week 8 ()

## Week 7 ()

## Week 6 ()

## Week 5 ()

## Week 4 ()

## Week 3 ()

## Week 2 ()

## Week 1 ()

# Links

- [[${3:cy22}]]

# ARCHIVE
endsnippet
