
# A valid snippet should starts with:
#
#		snippet trigger_word [ "description" [ options ] ]
#
# and end with:
# endsnippet
#
# Snippet options:
#
#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.
#
# Basic example:
#
#		snippet emitter "emitter properties" b
#		private readonly ${1} = new Emitter<$2>()
#		public readonly ${1/^_(.*)/$1/}: Event<$2> = this.$1.event
#		endsnippet
#
# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt
# https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L511
# https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L821

snippet todo
- [ ] 🔘 ${0}
endsnippet

snippet todo:done
- [x] ✅ ${0}
endsnippet

snippet todo:morning
- [ ] 🌅 ${0}
endsnippet

snippet todo:afternoon
- [ ] ☀️ ${0}
endsnippet

snippet todo:evening
- [ ] 🌗 ${0}
endsnippet

snippet memo
**Action Items**:

**Alignment**:

**Discussion**:
endsnippet

snippet agenda
agenda:*@${1:hjdivad}*:
- [ ] 🔘 ${0}
endsnippet

snippet meeting
# Mtg: ${1:Meeting Description}

### next 
${1}

**Attendees**:
${0}

**Action Items**:

**Alignment**:

**Discussion**:

## Log
## ARCHIVE
endsnippet

snippet project
# ${1:Project Name}
**NA**:

**Tasks**:
${0}

## Ref
## Log
## ARCHIVE
endsnippet

snippet daily
### ${1:day}

**Ticklers**:
${0}

---

#### Links

[[todo.md]]

- [ ] 🔘 [[ongoing/dailies]]
- [ ] 🔘 [[ongoing/monthlies]]
- [ ] 🔘 [[ongoing/annual]]

endsnippet

snippet dailies

**dailies**: ${1:today}
	- [ ] 🔘 Check ticklers
	- [ ] 🔘 [calendar](https://calendar.google.com/calendar/u/0/r/month)
	- [ ] 🔘 [email](https://mail.google.com/mail/u/0/#inbox)
	- [ ] 🔘 [[ongoing/exercise.md]]
	- [ ] 🔘 Anki
	- [ ] 🔘 Morning 1+ chapter
	- [ ] 🔘 Evening 1+ chapter

endsnippet

snippet log:daily
### ${0:date}

- [ ] 🔘 [calendar](https://calendar.google.com/calendar/u/0/r/month)
- [ ] 🔘 [email](https://mail.google.com/mail/u/0/#inbox)
- [ ] 🔘 [[ongoing/exercise]]
- [ ] 🔘 Anki
- [ ] 🔘 Book 1+ chapter
endsnippet

snippet log:weekly
### ${0:week}

- [ ] 🔘 Erik to Lundberg x1
- [ ] 🔘 Erik to Lundberg x2
- [ ] 🔘 Erik to Josh&Beth
endsnippet

snippet log:monthly
### ${0:month}

- [ ] 🔘 expense phone + internet
- [ ] 🔘 snapshot savings

endsnippet

snippet feedback
_BLUF (bottom line up front)_

_additional notes_

🛠️ _work capacity_

🗝 _key strengths_

📈 _growth opportunities_

📚 _references_
endsnippet
