snippet adu
# Configuration for go/adu.
# See go/adu-cfg for supported configuration properties and values.
# e.g. default_reviewers, ignored_updates, automerge_updates ...
#
# .linkedin/adu/config.yml

version: 1

update_configs:
	- package_manager: javascript
		directory: /
		update_schedule: daily
		automerged_updates:
			- match:
					update_type: 'in_range'
					dependency_name: '.*'
endsnippet
