#:schema https://mise.jdx.dev/schema/mise.json

[tools]

# core tools
go = "latest"
node = "latest"
lua = "latest"
ruby = "latest"
rust = { version = "latest", components = "rust-analyzer,clippy" }
python = "latest"
pipx = "latest"
uv = "latest"

# software verification (see https://mise.jdx.dev/tips-and-tricks.html#software-verification)
slsa-verifier = "latest"

# provides completion and parsing support for tasks see:
# https://mise.jdx.dev/tasks/file-tasks.html#arguments
usage = "latest"

"npm:@openai/codex" = "latest"
"npm:prettier" = "latest"
"npm:mcp-hub" = "latest"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:jwt-cli" = "latest"
"go:golang.org/x/tools/cmd/goimports" = "latest"
golangci-lint = "latest"
"npm:sort-package-json" = "latest"
pnpm = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"
"npm:ccstatusline" = "latest"
"npm:chrome-devtools-mcp" = "latest"
# I'd rather install via uv but it doesn't work
"pipx:petname" = "latest"

[settings]
experimental = true
# Disabled due to <https://github.com/jdx/mise/issues/4600>
# python.uv_venv_auto = true
pipx.uvx = true
idiomatic_version_file_enable_tools = ["node"]

