# A valid snippet should starts with:
#
#		snippet trigger_word [ "description" [ options ] ]
#
# and end with:
# endsnippet
#
# Snippet options:
#
#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.
#
# Basic example:
#
#		snippet emitter "emitter properties" b
#		private readonly ${1} = new Emitter<$2>()
#		public readonly ${1/^_(.*)/$1/}: Event<$2> = this.$1.event
#		endsnippet
#
# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt
# https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L511
# https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L821

snippet table
| ${1:Column} | ${2:Centered-Column} | ${3:Right-Aligned-Column} |
| ------- | :-------------: | -------------------: |
| ${4:r1c1}    |      ${5:r1c2}       |                 ${6:r1c3} |
endsnippet


snippet link-ref
[${1}][]${0}
endsnippet

snippet link-inline
[${1}](${2})${0}
endsnippet

snippet ref
[${1}]: ${0}
endsnippet


" digraph/abbreviation alternative snippets

snippet follow-up-⤴️
⤴️ ${0}
endsnippet
snippet info-ℹ️
ℹ️${0}
endsnippet
snippet error-⛔
⛔${0}
endsnippet
snippet blocked-⛔
⛔${0}
endsnippet
snippet okay-🍏
🍏${0}
endsnippet
snippet waiting-⏰
⏰${0}
endsnippet
snippet timebox-⏳
⏳${0}
endsnippet
snippet question-❓
❓${0}
endsnippet
snippet done-✅ 
✅${0}
endsnippet
snippet progress-🍏
🍏${0}
endsnippet
snippet wip-🔩
🔩${0}
endsnippet
snippet failed-❌
❌${0}
endsnippet
snippet fire-🔥
🔥${0}
endsnippet
snippet joy-😂
😂${0}
endsnippet
snippet bolt-⚡
⚡${0}
endsnippet
snippet line-chart-📈
📈${0}
endsnippet
snippet bar-chart-📊
📊${0}
endsnippet
snippet chart-line-📈
📈${0}
endsnippet
snippet chart-bar-📊
📊${0}
endsnippet
snippet target-🎯
🎯${0}
endsnippet
snippet boom-💥
💥${0}
endsnippet
snippet ear-👂
👂${0}
endsnippet
snippet calendar-📅
📅${0}
endsnippet
snippet thought-bubble-💭
💭${0}
endsnippet
snippet sun-☀️
☀️ ${0}
endsnippet
snippet moon-🪙
🪙${0}
endsnippet
snippet gear-⚙️
⚙️ ${0}
endsnippet
snippet green-apple-🍏
🍏${0}
endsnippet
snippet beer-🍺
🍺${0}
endsnippet
snippet beers-🍻
🍻${0}
endsnippet
snippet coffee-☕
☕${0}
endsnippet
snippet bread-🍞
🍞${0}
endsnippet
snippet hamster-🐹
🐹${0}
endsnippet
snippet ship-🚢
🚢${0}
endsnippet
snippet work-in-progress-🔩
🔩${0}
endsnippet
snippet rocket-🚀
🚀${0}
endsnippet
snippet thumbs-up-👍
👍${0}
endsnippet
snippet thinking-🤔
🤔${0}
endsnippet
snippet chat-bubble-💬
💬${0}
endsnippet
snippet axe-🪓
🪓${0}
endsnippet
snippet hack-🪓
🪓${0}
endsnippet
snippet eyes-👀
👀${0}
endsnippet
snippet rollover-🔁
🔁${0}
endsnippet
snippet white-circle-⚪
⚪${0}
endsnippet
snippet orange-circle-🟠
🟠${0}
endsnippet
snippet red-circle-🔴
🔴${0}
endsnippet
snippet blue-circle-🔵
🔵${0}
endsnippet
snippet radio-button-🔘
🔘${0}
endsnippet
snippet alert-🚨
🚨${0}
endsnippet
snippet tree-🌲
🌲${0}
endsnippet
snippet important-❗
❗${0}
endsnippet
snippet key-🔑
🔑${0}
endsnippet
snippet hammer-wrench-🛠️
🛠️${0}
endsnippet
snippet tools-🛠️
🛠️${0}
endsnippet
snippet books-📚
📚${0}
endsnippet
snippet gift-🎁
🎁${0}
endsnippet
snippet package-📦
📦${0}
endsnippet
snippet todo
- [ ] 🔘 ${0}
endsnippet
snippet todo-done
- [x] ✅ ${0}
endsnippet
